[mysqld]
port=3308
slow_query_log=ON
mysqlx=0

max_connections=10000
max_allowed_packet = 16M
log_timestamps=SYSTEM
thread_cache_size = 1280
skip-name-resolve
skip-external-locking
back_log=100000
table_open_cache=100000
table_definition_cache=100000
open_files_limit=100000
max_connect_errors=1000000

# clone plugin
plugin-load-add=mysql_clone.so

# innodb
innodb_buffer_pool_size=8g
innodb_flush_log_at_trx_commit=0
innodb_open_files=1000000

# Replication Using GTIDs
#server_id=883308
#gtid_mode=ON
#enforce-gtid-consistency=true
#binlog_expire_logs_seconds=86400

# Semisynchronous Replication master
#rpl_semi_sync_master_enabled=1
#rpl_semi_sync_master_timeout=2000

